name: release-please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Release Please
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GH_PAT }}
          release-type: node
          path: "."                 # das root package
          config-file: .release-please-config.json
          manifest-file: .release-please-manifest.json

